# Build
/target/

# IDEs
*.iml
.idea/
.classpath
.project
.settings/
out/
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# Logs & Temp
*.log
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db

# Maven wrapper (optional)
.mvn/wrapper/maven-wrapper.jar

